* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
}

header {
	text-align: center;
	margin-top: 30px;
}

#logo {
	width: 50px;
}

button,
input[type="text"] {
	padding: 5px;
}

button:hover {
	cursor: pointer;
}

.container,
#news {
	max-width: 60%;
	margin: 0 auto;
}

.error-message {
	color: red;
}

.hidden {
	display: none;
}

form {
	display: flex;
	flex-direction: column;
}
